* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-img-top {
  border-radius: 50px;
  padding: 10px;
}

.card {
  width: 150px;
  height: 100px;
  margin-top: 70px;
  margin-bottom: 70px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}
.card:hover {
  transform: scale(1.15);
  transition: all 0.3s;
}

.card .card-body {
  padding: 10px;
  margin-top: -15px;
}

.btn-primary {
  border-radius: 50px;
  width: 120px;
}

.btn-primary:hover {
  background-color: black;
  border: none;
}

@media (min-width: 0px) {
  #buzos-mujer {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #239089;
  }
  #pantalon {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #42a8a1;
  }
  #tops {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #5dc1b9;
  }
  #calzas {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #8ae0db;
  }
  #cardigan {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #b5ffff;
  }
  #poleron {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #239089;
  }
  #vestido-mangalarga {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #42a8a1;
  }
  #polera {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #5dc1b9;
  }
  #remeras-mangas-larga {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #8ae0db;
  }
  #sacodehilo {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #b5ffff;
  }
}
@media (min-width: 576px) {
  #buzos-mujer {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #239089;
  }
  #pantalon {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #42a8a1;
  }
  #tops {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #5dc1b9;
  }
  #calzas {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #8ae0db;
  }
  #cardigan {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #b5ffff;
  }
  #poleron {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #239089;
  }
  #vestido-mangalarga {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #42a8a1;
  }
  #polera {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #5dc1b9;
  }
  #remeras-mangas-larga {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #8ae0db;
  }
  #sacodehilo {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #b5ffff;
  }
}
@media (min-width: 768px) {
  #buzos-mujer {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #732571;
  }
  #pantalon {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #964f95;
  }
  #tops {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #b979b8;
  }
  #calzas {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #dca2dc;
  }
  #cardigan {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ffccff;
  }
  #poleron {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #732571;
  }
  #vestido-mangalarga {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #964f95;
  }
  #polera {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #b979b8;
  }
  #remeras-mangas-larga {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #dca2dc;
  }
  #sacodehilo {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ffccff;
  }
}
@media (min-width: 992px) {
  #buzos-mujer {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #eb9ac0;
  }
  #pantalon {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f3aacb;
  }
  #tops {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f7bfd8;
  }
  #calzas {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #fbd5e5;
  }
  #cardigan {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #fdeaf2;
  }
  #poleron {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #eb9ac0;
  }
  #vestido-mangalarga {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f3aacb;
  }
  #polera {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f7bfd8;
  }
  #remeras-mangas-larga {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f7bfd8;
  }
  #sacodehilo {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #fdeaf2;
  }
}
@media (min-width: 0px) {
  #buzo {
    background-size: cover;
    background-repeat: repeat;
    background-color: #756f4b;
  }
  #camperas {
    background-size: cover;
    background-repeat: repeat;
    background-color: #a9a27c;
  }
  #remeras-hombre {
    background-size: cover;
    background-repeat: repeat;
    background-color: #a9a27c;
  }
  #remeras-hombre #sweater-hombre {
    background-size: cover;
    background-repeat: repeat;
    background-color: #e0d8b0;
  }
}
@media (min-width: 0px) and (min-width: 576px) {
  #buzo {
    background-size: cover;
    background-repeat: repeat;
    background-color: #756f4b;
  }
  #camperas {
    background-size: cover;
    background-repeat: repeat;
    background-color: #a9a27c;
  }
  #remeras-hombre {
    background-size: cover;
    background-repeat: repeat;
    background-color: #f3dbc3;
  }
  #sweater-hombre {
    background-size: cover;
    background-repeat: repeat;
    background-color: #e0d8b0;
  }
}
@media (min-width: 0px) and (min-width: 768px) {
  #buzo {
    background-size: cover;
    background-repeat: repeat;
    background-color: #e28000;
  }
  #camperas {
    background-size: cover;
    background-repeat: repeat;
    background-color: #ff9800;
  }
  #remeras-hombre {
    background-size: cover;
    background-repeat: repeat;
    background-color: #ffc340;
  }
  #sweater-hombre {
    background-size: cover;
    background-repeat: repeat;
    background-color: #f9d7a0;
  }
}
@media (min-width: 0px) and (min-width: 992px) {
  #buzo {
    background-size: cover;
    background-repeat: repeat;
    background-color: #e8c39e;
  }
  #camperas {
    background-size: cover;
    background-repeat: repeat;
    background-color: #eaccad;
  }
  #remeras-hombre {
    background-size: cover;
    background-repeat: repeat;
    background-color: #f3dbc3;
  }
  #sweater-hombre {
    background-size: cover;
    background-repeat: repeat;
    background-color: #fdecd4;
  }
}
#fondo {
  background-image: url(../pages/imagenes/hombre/buzos-h/buzo-h10.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#footer {
  background: none;
}

/*# sourceMappingURL=style.css.map */
