#buzos-mujer {
  background-color: #eb9ac0;
  background-size: cover;
}

#pantalon {
  background-color: #f3aacb;
  background-size: cover;
}
#tops {
  background-color: #f7bfd8;
  background-size: cover;
}

#calzas {
  background-color: #fbd5e5;
  background-size: cover;
}

#cardigan {
  background-color: #fdeaf2;
  background-size: cover;
}
#poleron {
  background-color: #eb9ac0;
  background-size: cover;
}

#vestido-mangalarga {
  background-color: #f3aacb;
  background-size: cover;
}

#polera {
  background-color: #f7bfd8;
  background-size: auto;
}

#remeras-mangas-larga {
  background-color: #fbd5e5;
  background-size: cover;
}

#sacodehilo {
  background-color: #fdeaf2;
  background-size: cover;
}
