@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.color1 {
  background: black;
}

.color2 {
  background: #fff;
}

.color3 {
  background: #ddd;
}

.card-img-top {
  border-radius: 50px;
  padding: 10px;
}

.card {
  width: 150px;
  height: 100px;
  margin-top: 70px;
  margin-bottom: 70px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  background-color: salmon;
}
.card:hover {
  transform: scale(1.15);
  transition: all 0.3s;
}

.card .card-body {
  padding: 10px;
  margin-top: -15px;
}

.btn-primary {
  border-radius: 50px;
  width: 120px;
  background-color: bisque;
  color: white;
}

.btn-primary:hover {
  border: none;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
  padding: 20px;
}
.gallery img {
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav.principal ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav.principal ul li a {
  display: block;
  padding: 1rem;
  text-decoration: none;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  padding: 35px 100px 0;
  background-color: #000;
}

header nav li header nav li {
  margin: 0 15px;
}
header nav li header nav li:first-child {
  margin-left: 0;
}
header nav li header nav li:last-child {
  margin-right: 0;
}

/*BANNER*/
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 110px 100px;
}

.section p {
  max-width: 800px;
  text-align: center;
  margin-bottom: 35px;
  padding: 0 20px;
  line-height: 2;
}

.banner-area {
  position: relative;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  text-align: center;
}

.banner-area .banner-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
  background-image: url(https://img.freepik.com/fotos-premium/joven-traje-hombre-barba-retrato-masculino-sobre-fondo-negro-hombre-elegante-foto-blanco-negro-modelo-masculino-retrato-estudio-chico-traje-clasico_154724-54.jpg);
}
.banner-area .banner-img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.8;
}

.banner-area h1 {
  margin-bottom: 15px;
  font-size: 65px;
}

.banner-area h3 {
  margin-bottom: 40px;
  font-size: 25px;
}

.banner-area a.banner-btn {
  padding: 15px 35px;
  background: crimson;
  border-radius: 50px;
  text-transform: uppercase;
}

/*NOSOTROS*/
ul.nosotros-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

.nosotros-content li {
  padding: 20px;
  height: 290px;
  background-clip: content-box;
  background-size: cover;
  background-position: center;
}

.nosotros-izq {
  flex-basis: 40%;
  background-image: url(../pages/imagenes/logo/logo.jpeg);
}

.nosotros-der {
  flex-basis: 60%;
}

.nosotros-area p {
  max-width: 800px;
  margin-bottom: 35px;
  line-height: 1.5;
  text-align: left;
  padding-left: 0;
}

.section-title {
  text-transform: uppercase;
  font-size: 50px;
  margin-bottom: 5%;
  text-align: center;
}

.nosotros-der h2 {
  margin-bottom: 3%;
}

.nosotros-btn {
  padding: 15px 35px;
  background: crimson;
  border-radius: 50px;
  text-transform: uppercase;
  color: #fff;
}

/*servicios*/
.servicios-area {
  background: #ddd;
}

ul.servicios-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

.servicios-content li {
  padding: 0 30px;
  flex-basis: 33%;
  text-align: center;
}
.servicios-content li i {
  font-size: 50px;
  color: crimson;
  margin-bottom: 25px;
}
.servicios-content li h4 {
  font-size: 20px;
  margin-bottom: 25px;
}
.servicios-content li p {
  margin: 0;
}

/*Footer*/
.pie-pagina {
  width: 100%;
  background-color: #0a141d;
}

.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
  width: 250px;
}

.pie-pagina .grupo-1 .box h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
  color: #efefef;
  margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover {
  color: aqua;
}

.pie-pagina .grupo-2 {
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}

.pie-pagina .grupo-2 small {
  font-size: 15px;
}

.formm {
  background-image: url(https://i.ytimg.com/vi/na4vmhat_dY/maxresdefault.jpg);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
}
.formm:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

@media (max-width: 575.98px) {
  body {
    font-size: 14px;
  }
  .section {
    padding: 125px 30px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  body {
    font-size: 15px;
  }
  header {
    flex-direction: column;
  }
  header h2 {
    margin-bottom: 15px;
  }
  header nav li {
    margin: 0 7px;
  }
  .banner-area {
    min-height: 600px;
  }
  .banner-area h1 {
    font-size: 32px;
  }
  .banner-area h3 {
    font-size: 20px;
  }
  .banner-area a.banner-btn {
    padding: 15px 40px;
  }
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}
/* Estilos para pantallas grandes (tablets en modo vertical y pantallas de escritorio) */
@media (min-width: 768px) and (max-width: 991.98px) {
  body {
    font-size: 16px;
  }
  header {
    padding: 20px 50px;
  }
  .section {
    padding: 100px 50px;
  }
  .nosotros-izq,
  .about-der {
    flex-basis: 100%;
  }
  .nosotros-content li {
    padding: 8px;
  }
  .servicios-content li {
    flex-basis: 100%;
    margin-bottom: 65px;
  }
}
/* Estilos para pantallas extra grandes (pantallas de escritorio más grandes) */
@media (min-width: 992px) {
  body {
    font-size: 17px;
  }
  /* Agrega aquí los estilos específicos para pantallas extra grandes */
}/*# sourceMappingURL=style.css.map */